
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

#tabLabels, #pickView {
  margin-bottom: 20px;
}

#tabLabels {
  .btn {
    margin-right: 10px;
    margin-bottom: 5px;

    .fa-times {
      cursor: pointer;
      pointer-events: all;
    }
  }
}

a {
  cursor: pointer;
}

.nav-tabs-custom > .tab-content {
  background-color: rgb(236, 240, 245);
}

.box-tools-actions {
  width: 120px;
  display: inline;
}

.fc-time-grid-container {
  height: 615px !important;
}

.box {
  .box-loading-icon {
    display: none;
  }

  .box-header > .box-tools {
    position: relative !important;
    top: 0;
    margin-top: -8px;
  }
}

.box-loading {

  .box-body :not(.glyphicon-refresh-animate) {
    opacity: 0.4;
  }

  .box-loading-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .glyphicon-refresh-animate {
    display: block;
    -animation: spin 2.5s infinite linear;
    -ms-animation: spin 2.5s infinite linear;
    -webkit-animation: spinw 2.5s infinite linear;
    -moz-animation: spinm 2.5s infinite linear;
  }
}

.main-footer {
  display: block;
}

.fc-toolbar {
  display: none;
}

#calendar {
  .popover {
    width: 250%;
  }
}
