
#tabLabels {
  margin-bottom: 20px;

  .btn {
    margin-right: 10px;

    .fa-times {
      cursor: pointer;
      pointer-events: all;
    }
  }
}

a {
  cursor: pointer;
}

.nav-tabs-custom > .tab-content {
  background-color: rgb(236, 240, 245);
}

.box-tools-actions {
  width: 120px;
  display: inline;
}

.fc-time-grid-container {
  height: 615px !important;
}
