
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

body {
  background-color: #ecf0f5;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

#tabLabels, #pickView {
  margin-bottom: 20px;
}

#tabLabels {
  .btn {
    margin-right: 10px;
    margin-bottom: 5px;

    .fa-times {
      cursor: pointer;
      pointer-events: all;
    }
  }
}

a {
  cursor: pointer;
}

.nav-tabs-custom > .tab-content {
  background-color: rgb(236, 240, 245);
}

.box-tools-actions {
  width: 120px;
  display: inline;
}

.fc-time-grid-container {
  height: 615px !important;
}

.glyphicon-refresh-animate {
  -animation: spin 2.5s infinite linear;
  -ms-animation: spin 2.5s infinite linear;
  -webkit-animation: spinw 2.5s infinite linear;
  -moz-animation: spinm 2.5s infinite linear;
}

.box {
  .box-loading-icon {
    display: none;
  }

  .box-header > .box-tools {
    position: relative !important;
    top: 0;
    margin-top: -8px;
  }
}

.box-loading {

  .box-body :not(.glyphicon-refresh-animate) {
    opacity: 0.4;
  }

  .box-loading-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .glyphicon-refresh-animate {
    display: block;
  }
}

.main-footer {
  display: block;
}

.fc-toolbar {
  display: none;
}

#calendar {
  .popover {
    width: 250%;
  }
}

.table-calendar {
  border-collapse: collapse;

  &.table-calendar-bordered {

    td, th {
      border: 1px solid #ddd;
    }

    tr:first-child th {
      border-top: 0;
    }

    tr:last-child td {
      border-bottom: 0;
    }

    tr td:first-child,
    tr th:first-child {
      border-left: 0;
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 0;
    }

  }

  .calendar-cell {
    height: 40px;
    width: 500px;
  }

  .calendar-axis-day {
    background-color: #fafafa;
  }

}

.table-calendar-overflow {
  position: absolute;
  top: 20px;
  left: 33px;

  td {
    height: 560px;
  }

  .event {
    position: absolute;
    font-size: 11px;
    padding: 2px;
    line-height: 12px;
    border-radius: 5px;
    cursor: default;

    .title {
      max-width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
    }

    .closeon {
      cursor: pointer;
      margin-top: -3px;
    }
  }
}

.external-event.ui-draggable-dragging {
  width: 100px;
}

.table-calendar-overflow-background {
  .event {
    background-color: rgba(255, 128, 128, .15);
    position: absolute;
    border-radius: 0;
  }
}

ol.breadcrumb {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: $screen-lg-min) {
    width: 40%;
  }

  & > li {
    display: inline;
  }
}

.content-header {
  &.hidden {
    padding: 0;
  }

  &.alerts-header {
    padding-top: 0;

    .alert:first-child {
      padding-top: 15px;
    }
  }
}

.content {
  &.view-compressed {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.nav > li > a {
  padding: 15px;
}

#import-button {
  margin-top: 15px;
}

#editor {
  margin: 0;
  min-height: 300px;
}

#save-file {
  margin-top: 15px;
  margin-right: 15px;
}

.ace_highlight-err {
  position: absolute;
  background: #47221D;
  z-index: 1000;
  color: black;
}

.ace_highlight-war {
  position: absolute;
  background: #7D4114;
  z-index: 1000;
  color: black;
}

.table-nonfluid {
  width: auto !important;
}

#edit-rating-modal {
  @media (min-width: 768px) {
    .modal-dialog {
      width: 900px;
    }
  }

  .extra-margin {
    margin-top: 5px;
  }
}

.box .box-header > .box-tools {
  margin-top: -3px;
}

.m-b {
  margin-bottom: 10px;
}
.m-t {
  margin-top: 10px;
}
.m-l {
  margin-left: 10px;
}
.m-r {
  margin-right: 10px;
}

